@import './../lib/vars'; 

.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.12s;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 1s;
}
.modalFadeIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0%, 0%, 0.5);
}
.modal-wrapper {
  position: absolute;
  background-color: #fff;
  top: 50%;
  left: 50%;
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.35);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80vw;
  max-width: 700px;
  border-radius: 10px;
  max-height: 100vh;
  overflow: scroll;
  z-index: 100;
}
.modal-header {
  padding: 3vw;
}
.modal-content {
  padding: 0 3vw 60px 3vw;
}
.modal-heading {
  text-align: center;
  text-transform: uppercase;
  color: #1d1e1f;
  line-height: 1.2;
  padding-right: 20px;
  font-size: 39px;
  line-height: 1;
  font-weight: 600;
  background: #8fe21b;
  background: -webkit-gradient(linear, left top, left bottom, from(#8fe21b), to(#6cb30a));
  background: linear-gradient(to bottom, #8fe21b 0%, #6cb30a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.modal-close {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  width: 44px;
  text-align: center;
  padding: 5px;
  cursor: pointer;
}
.modal-close::before{
  color: #cbccce;
  font-size: 16px;
  line-height: 36px;
  content: "X";
}
.modal-close:hover {
  background: rgba(0,0,0,.05);
}

.title {
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 10px;
  color: #999;
  margin-bottom: 20px;
}
.modal button {
  float: right;
}
form input {
  width: 100%;
  background-color: #f9f9f9;
  border-radius: .5vw;
  border-width: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .messageBoardModalContainer {

    .modal-wrapper {
      width: 640px;
      height: 500px;
    }
    .modal-content {
      height: 410px;
    }
  }
}