header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 6;
}
nav {
  background: -moz-linear-gradient(top, #f7f7f7 0%, #e3e3e3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e3e3e3));
  background: -webkit-linear-gradient(top, #f7f7f7 0%,#e3e3e3 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%,#e3e3e3 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%,#e3e3e3 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%,#e3e3e3 100%);
  width: 100%;
  height: 51px;
  position: fixed;
  z-index: 7;
  left: 0px;
  top: 0px;
  border-bottom: 1px solid #FFF;
  box-shadow: 0px 0px 40px #DDD;
  transition:1s ease;
  -moz-transition:1s ease;
  -webkit-transition:1s ease;
}
.logo {
  cursor: pointer;
  position: absolute;
  height: 50px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  top: 0;
  left: 0;
  padding: 0px 0px 0px 20px;
  z-index: 5;

  a {
    font-size: 24px;
    line-height: 1;
    text-decoration: none !important;
    height: 50px;
    width: 216px;
    display: block;

    #navLogo {
      position: absolute;
      top: 5.5px;
      font-size: 39px;
      line-height: 1;
      font-weight: 600;
      background: #8fe21b;
      background: -moz-linear-gradient(top, #8fe21b 0%, #6cb30a 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fe21b), color-stop(100%,#6cb30a));
      background: -webkit-linear-gradient(top, #8fe21b 0%,#6cb30a 100%);
      background: -o-linear-gradient(top, #8fe21b 0%,#6cb30a 100%);
      background: -ms-linear-gradient(top, #8fe21b 0%,#6cb30a 100%);
      background: linear-gradient(to bottom, #8fe21b 0%,#6cb30a 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    #navTagline {
      font-size: 20px;
      position: absolute;
      bottom: 8px;
      width: 86px;
      line-height: 1;
      left: 150px;
      background: #a3a3a3;
      background: -moz-linear-gradient(top, #a3a3a3 0%, #8c8c8c 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3a3a3), color-stop(100%,#8c8c8c));
      background: -webkit-linear-gradient(top, #a3a3a3 0%,#8c8c8c 100%);
      background: -o-linear-gradient(top, #a3a3a3 0%,#8c8c8c 100%);
      background: -ms-linear-gradient(top, #a3a3a3 0%,#8c8c8c 100%);
      background: linear-gradient(to bottom, #a3a3a3 0%,#8c8c8c 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.logo:hover a {
  color: #7C0;;
}
.hamburger {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 50px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  top: 0;
  right: 13px;
  z-index: 10;
}
.buns {
  content: '';
  display: block;
  position: absolute;
  width: 24px;
  height: 2px;
  background: #8e8e8e;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.hamburger:hover .buns {
  background: #7C0;;
}
.top {
  top: 24px;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.bottom {
  bottom: 24px;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}
.open {
  transform: rotate(90deg);
}
.open .top {
  transform: rotate(45deg) translateY(0px);
}
.open .bottom {
  transform: rotate(-45deg) translateY(0px);
} 
.hamburgerToggle {
  position: fixed;
  top: 0;
  padding-top: 48px;
  right: 0;
  bottom: 0;
  margin: 0;
  height: auto;
  width: 320px;
  max-width: 100vw;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
  -webkit-transition: -webkit-transform .4s ease-in;
  transition: -webkit-transform .4s ease-in;
  transition: transform .4s ease-in;
  transition: transform .4s ease-in, -webkit-transform .4s ease-in;
  z-index: 9;
  background: #fff;
}
.dropdownOverlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 8;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s, visibility 2.1s;
  transition-delay: opacity .6s, visibility 2.1s;
}
.overlayFadeIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 1.5s;
  transition-delay: .6s;
}
.slideIn {
  transform: translateX(0vw);
  transition: transform .4s ease-in;
}
.dropDownLink {
  text-align: left;
  transition: all .2s linear;
  cursor: pointer;
  border-bottom: 1px solid #e3e3e3;
  color: #2f374c;
  display: block;
  font-size: 16px;
  font-weight: 400;
  margin: 0 30px 0 32px;
  padding: 18px 0;
  text-decoration: none;
}
.dropDownLink:hover {
  color: #7C0;;
}
.dropDownListItem {
  height: 70px;
}
.dropDownList {
  padding-top: 20px;
}
.bottomNav {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 51px;
  border-top: 1px solid #FFF;

  .innerWrapper {
    height: 40px;
    padding: 0px 10px;
    border-bottom: 1px solid #D9D9D9;
    background: url(https://i.imgur.com/xIFuhjs.jpg) repeat center center;
  }
}
.mr15 {
  margin-right: 15px;
}
.noTextD {
  text-decoration: none !important;
}
// sign up or login
.signupOrLogin {
  transform: translateY(-100vh);
  transition: transform 1.5s ease-in-out;
  transition-delay: 1.5s;
  text-align: center;
}
.signupOrLoginSlideIn {
  transform: translateY(0vh);
  transition: transform 1.5s ease-in-out;
  transition-delay: 1.5s;
}
.signupOrLoginSlideIn2 {
  transform: translateY(-41px);
  transition: transform 1.5s ease-in-out;
  transition-delay: 1.5s;
}
.hideBig { display: none; }
@media only screen and (max-width: 352px) {
  .hideSmall { display: none; }
  .hideBig { display: inline-block; }
}