nav {
    position: relative;
    width: 100%;
    margin: 0 auto;
    // border-bottom: 1px solid #e6e6e6;
    // min-height: 62px;
    background-color: #fafafa;
    min-height: 74px;
  
    .homeLinkDiv {
        position: absolute;
        top: 32px;
        left: 22px;
        min-width: 79px;
  
      .homeLink {
        font-family: 'Varela Round', sans-serif;
        color: #ff7e1a;
        font-size: 28px;
        line-height: 1;

        .spoonContainer {
            position: relative;

            .spoon {
                position: absolute;
                left: -90px;
                top: -2px;
            }
        }
      }
    }
    .browseDiv {
        height: 50px;
        line-height: 50px;
        top: 12px;
        background: #f2f2f2;
        position: absolute;
        left: 123px;
        padding: 0 54px 0 30px;
        cursor: pointer;
        display: none;

        p {
            position: relative;

            span {
                color: #2d2d2d;
                font-size: 15px;
                line-height: 50px;
            }
            img {
                width: 14px;
                position: absolute;
                top: 18px;
                left: 65px;
            }
        }
    }
    .browseDiv:hover {
        background: #ebebeb;
    }
    .navProfileDiv {
        position: absolute;
        right: 25px;
        // top: 6px;
        top: 12px;
        background: #f2f2f2;

        .navProfileDivInner {
            position: relative;
            width: 220px;
            height: 50px;

            .profileImageDiv {
                position: absolute;
                cursor: pointer;

                .noProfileImageNav {
                    width: 52px;
                    margin-top: -1px;
                    margin-left: 6px;
                }
            }
            .profileTextDiv {
                position: absolute;
                left: 65px;
                background: #feaa26;
                height: 50px;
                width: 155px;
                text-align: center;
                cursor: pointer;

                .profileText {
                    color: #fff;
                    font-size: 16px;
                    line-height: 50px;
                    font-family: 'Source Sans Pro', sans-serif;
                }
            }
            .profileTextDiv:hover {
                background: #ed9702;
            }
        }
    }
  }
.navSearchIcon {
    display: none;
}

@media only screen and (max-width: 767px) {
    nav {
        min-height: 62px;
        
        .homeLinkDiv {
            top: 22px;
        }
        .navProfileDiv {
            background: none;
            top: 0;
            right: 13px;
        
            .navProfileDivInner {
            height: 62px;
            width: 44px;
            
            .profileImageDiv .noProfileImageNav {
                width: 43px;
                margin-left: 0;
                margin-top: 11px;
            }
            }
        }
        .hideSearchBar, .navProfileDiv .navProfileDivInner .profileTextDiv {
            display: none;
        }
        .navSearchIcon {
            position: absolute;
            right: 57px;
            top: 0;
            display: block;
            border-left: 1px solid #fafafa;
            border-right: 1px solid #fafafa;
        
            .navSearchIconInner {
            position: relative;
            height: 62px;
            width: 48px;
            cursor: pointer;
        
            .navSearchIconSpan {
                background: url(https://secureimages.allrecipes.com/assets/deployables/v-1.165.0.5109/svg/sprite.css.svg) no-repeat;
                -webkit-transform: scale(0.85, 0.85);
                transform: scale(0.85, 0.85);
                display: inline-block;
                width: 46px;
                height: 46px;
                background-position: 89.13520408163265% 71.42857142857143%;
                margin-top: 10px;
            }
            }
        }
        .showSearchBarSmall {
            background: #fff;
            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #e6e6e6;
        }
    }
}

  @media only screen and (max-width: 1023px) and (min-width: 768px) {
    nav .navProfileDiv .navProfileDivInner {
      width: 190px;
    }
    nav .navProfileDiv .navProfileDivInner .profileTextDiv {
      width: 125px;
    }
    nav .navProfileDiv .navProfileDivInner .profileTextDiv .profileText {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 7.5px;
      margin-left: 7.5px;
    }
  }

@media only screen and (min-width: 900px) {
    nav .browseDiv {
        display: block;
    }
}