header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
nav {
  background: -moz-linear-gradient(top, #f7f7f7 0%, #e3e3e3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7f7f7), color-stop(100%,#e3e3e3));
  background: -webkit-linear-gradient(top, #f7f7f7 0%,#e3e3e3 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%,#e3e3e3 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%,#e3e3e3 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%,#e3e3e3 100%);
  width: 100%;
  height: 51px;
  position: fixed;
  z-index: 3000;
  left: 0px;
  top: 0px;
  border-bottom: 1px solid #FFF;
  box-shadow: 0px 0px 40px #DDD;
  transition:1s ease;
  -moz-transition:1s ease;
  -webkit-transition:1s ease;
}
.logo {
  cursor: pointer;
  position: absolute;
  height: 50px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  top: 0;
  left: 0;
  padding: 0px 0px 0px 20px;
  z-index: 5;

  a {
    font-size: 24px;
    line-height: 1;
    text-decoration: none !important;
    height: 50px;
    width: 214px;
    display: block;

    #navLogo {
      position: absolute;
      top: 5.5px;
      font-size: 39px;
      line-height: 1;
      font-weight: 600;
      background: #8fe21b;
      background: -moz-linear-gradient(top, #8fe21b 0%, #6cb30a 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fe21b), color-stop(100%,#6cb30a));
      background: -webkit-linear-gradient(top, #8fe21b 0%,#6cb30a 100%);
      background: -o-linear-gradient(top, #8fe21b 0%,#6cb30a 100%);
      background: -ms-linear-gradient(top, #8fe21b 0%,#6cb30a 100%);
      background: linear-gradient(to bottom, #8fe21b 0%,#6cb30a 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    #navTagline {
      font-size: 20px;
      position: absolute;
      bottom: 8px;
      width: 84px;
      line-height: 1;
      left: 150px;
      background: #a3a3a3;
      background: -moz-linear-gradient(top, #a3a3a3 0%, #8c8c8c 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a3a3a3), color-stop(100%,#8c8c8c));
      background: -webkit-linear-gradient(top, #a3a3a3 0%,#8c8c8c 100%);
      background: -o-linear-gradient(top, #a3a3a3 0%,#8c8c8c 100%);
      background: -ms-linear-gradient(top, #a3a3a3 0%,#8c8c8c 100%);
      background: linear-gradient(to bottom, #a3a3a3 0%,#8c8c8c 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
.logo:hover a {
  color: #f62626;
}
.hamburger {
  cursor: pointer;
  position: absolute;
  width: 24px;
  height: 50px;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  top: 0;
  right: 13px;
  z-index: 5;
}
.buns {
  content: '';
  display: block;
  position: absolute;
  width: 24px;
  height: 2px;
  background: #8e8e8e;
  -webkit-transform: rotate(0);
  transform: rotate(0);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
}
.hamburger:hover .buns {
  background: #f62626;
}
.top {
  top: 24px;
  -webkit-transform: translateY(-3px);
  transform: translateY(-3px);
}
.bottom {
  bottom: 24px;
  -webkit-transform: translateY(3px);
  transform: translateY(3px);
}
.open {
  transform: rotate(90deg);
}
.open .top {
  transform: rotate(45deg) translateY(0px);
}
.open .bottom {
  transform: rotate(-45deg) translateY(0px);
} 
.hamburgerToggle {
  position: fixed;
  top: 0;
  padding-top: 48px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  height: auto;
  box-sizing: border-box;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transform: translateY(-100vh);
  transition: transform .4s ease-in;
  z-index: 1;
  background: #fff;
}
.slideIn {
  transform: translateY(0vh);
  transition: transform .4s ease-in;
}
.dropDownLink {
  font-size: 34px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  padding: 18px 0;
  display: block;
  text-align: right;
  transition: all .2s linear;
  cursor: pointer;
}
.dropDownLink:hover {
  color: #f62626;
}
.dropDownListItem {
  height: 70px;
}
.dropDownList {
  padding-top: 20px;
}