* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.searchResultsDisplay {
  margin: 20px auto;
}
.allResultsFavButton:hover .allResultsFavButtonText{
  color: #8EE11B;
}
.tile {
  height: 330px;
  width: 220px;
  border: 1px rgba(220, 220, 220, 0.7) solid;
  margin-bottom: 20px;
  margin-right: 10px;
  position: relative;
  float: left;
  background: -moz-linear-gradient(top, #ffffff 60%, #f7f7f7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%,#ffffff), color-stop(100%,#f7f7f7));
  background: -webkit-linear-gradient(top, #ffffff 60%,#f7f7f7 100%);
  background: -o-linear-gradient(top, #ffffff 60%,#f7f7f7 100%);
  background: -ms-linear-gradient(top, #ffffff 60%,#f7f7f7 100%);
  background: linear-gradient(to bottom, #ffffff 60%,#f7f7f7 100%);
  // padding: 4px;
  border: 1px solid #E6E6E6;
}
.tileWoutFavButton:hover {
  cursor: pointer;
}
.tileWoutFavButton:hover .tileLabel {
  color: #8EE11B;
  text-decoration: none;
}
.tilePic {
  height: 196px;
  margin: 4px 4px 0;
  width: calc((100% - 8px));
}
.tileLabel {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 34px;
  overflow: hidden;
  margin: 0px 10px;
  font: normal 14px Arial;
  text-shadow: 1px 1px 0px #FFF;
  color: #333;
}
.tileCalorieAndIngredientText {
  border-top: 1px rgba(220, 220, 220, 0.7) solid;
  border-bottom: 1px rgba(220, 220, 220, 0.7) solid;
  font-size: 10px;
  color: gray;
  padding: 10px 0px 8px;
  margin: 0px 10px;
  text-align: center;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}
.tileCalorieTextNumber, .tileIngredientTextNumber {
  font: normal 12px Arial;
  text-shadow: 1px 1px 0px #FFF;
  color: #7C0;
}
.tileSourceP {
  padding: 8px 0px 0px;
  margin: 0px 10px;
  white-space: nowrap;
  height: 26px;
  bottom: 14px;
  position: absolute;
}
.tileSource {
  font: bold 12px/26px Arial;
  text-shadow: 1px 1px 0px #FFF;
  color: #999;
}
.tileSource:hover {
  text-decoration: underline;
  color: #999;
  text-shadow: 1px 1px 0px #FFF;
}
.disable-link {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
#all-0 {
  color: #E15115;
}
#all-1 {
  color: #FFC425;
}
#all-2 {
  color: #83CC1C;
}


.search-btn {
    border-radius: 0px 70px 70px 0px;
    cursor:pointer;
    height: 75px;
    width: 75px;
    background-color: #8EE11B;
    color: white;
}
.search-btn:hover {
  color: white;
  font-weight: bold;
}
#signupOrLoginText {
  display: inline-block;
}
span.line {
  display: inline-block;
}
#bold {
  font-weight: bold;
  color: #000000;
}
#searchFilterText {
  margin-top: 10px;
  text-decoration: none;
  color: #747D7D;
}
#smallFont {
  font-size: 11px;
}
#searchFilterDownArrow {
  font-size: 11px;
  color: #8EE11B;
}
#searchFilter {
  text-align: center;
  margin-top: 8px;
}
.dietFormGroup, .allergyFormGroup {
  text-align: left;
  font-weight: normal !important;
}
#advancedSearchFormButton {
  width: 64px;
  min-width: 0px;
  height: 30px;
  padding: 0px;
  line-height: 30px;
  background: #8fe21b;
  background: -moz-linear-gradient(top, #8fe21b 0%, #6cb30a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8fe21b), color-stop(100%,#6cb30a));
  background: -webkit-linear-gradient(top, #8fe21b 0%,#6cb30a 100%);
  background: -o-linear-gradient(top, #8fe21b 0%,#6cb30a 100%);
  background: -ms-linear-gradient(top, #8fe21b 0%,#6cb30a 100%);
  background: linear-gradient(to bottom, #8fe21b 0%,#6cb30a 100%);
  font: bold 13px Arial;
  text-shadow: 0px -1px 0px #4C7B0C;
  color: #FFF;
  border-color: #999;
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
#advancedSearch-form {
  padding: 20px;
}
#advancedSearchButtonText {
  padding-bottom: 37px;
}
#textBoxInputMaxResults, #textBoxInputMaxCal, #textBoxInputMinCal {
  float: right;
}
/* BUTTONS */
.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
  color: #fef4e9;
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#8EE01B), to(#6DB30A));
	background: -moz-linear-gradient(top,  #8EE01B,  #6DB30A);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#8EE01B', endColorstr='#6DB30A');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#7CC418), to(#5D9909));
	background: -moz-linear-gradient(top,  #7CC418,  #5D9909);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7CC418', endColorstr='#5D9909');
  color: #fef4e9;
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#6DB30A), to(#8EE01B));
	background: -moz-linear-gradient(top,  #6DB30A,  #8EE01B);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6DB30A', endColorstr='#8EE01B');
}
.allResultsFavButton {
  position: absolute;
  background-color: white;
  color: #8EE11B;
  right: 5px;
  top: 5px;
}
.allResultsFavButtonText {
  color: black;
}
.flex-container {
  padding: 0;
  margin: 0;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.tileCalorieAndIngredientTextHidden {
  display: none;
}